<!-- ko if: isVisible()  -->
<!-- <div class="social-login">
    <a data-bind="visible: isProviderEnabled('facebook'), attr: { href: getProviderUrl('facebook') }"><i class="fa fa-facebook-square fa-3x"></i></a>
    <a data-bind="visible: isProviderEnabled('twitter'), attr: { href: getProviderUrl('twitter') }" href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a data-bind="visible: isProviderEnabled('google'), attr: { href: getProviderUrl('google') }" href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
</div> -->

<div class="block block-social-login">
    <div class="block-title">
        <strong id="block-social-login-heading" role="heading" aria-level="2">Login usando Mídia Sociais</strong>
    </div>
    <div class="block-content" aria-labelledby="block-social-login-heading">
        <p>
            Você pode fazer o login usando uma das contas sociais fornecidas abaixo.        </p>
        <ul>
                                                <li>
                        <a href="#" data-post="{&quot;action&quot;:&quot;https:\/\/quistypesca.com.br\/social\/login\/grant\/&quot;,&quot;data&quot;:{&quot;provider&quot;:&quot;instagram&quot;,&quot;uenc&quot;:&quot;aHR0cHM6Ly9xdWlzdHlwZXNjYS5jb20uYnIvY3VzdG9tZXIvYWNjb3VudC9sb2dpbi8,&quot;}}" class="instagram">
                            <i class="fa fa-instagram"></i>
                            <span class="label">Entrar com Instagram</span>
                        </a>
                    </li>
                                    <li>
                        <a href="#" data-post="{&quot;action&quot;:&quot;https:\/\/quistypesca.com.br\/social\/login\/grant\/&quot;,&quot;data&quot;:{&quot;provider&quot;:&quot;facebook&quot;,&quot;uenc&quot;:&quot;aHR0cHM6Ly9xdWlzdHlwZXNjYS5jb20uYnIvY3VzdG9tZXIvYWNjb3VudC9sb2dpbi8,&quot;}}" class="facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="label">Entrar com Facebook</span>
                        </a>
                    </li>
                                    </ul>
    </div>
</div>
<!-- /ko -->