<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div id="opc-sidebar"
     data-bind="afterRender:setModalElement, mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'custom',
        'modalClass': 'opc-sidebar opc-summary-wrapper',
        'wrapperClass': 'checkout-container',
        'parentModalClass': '_has-modal-custom',
        'responsive': true,
        'responsiveClass': 'custom-slide',
        'overlayClass': 'modal-custom-overlay',
        'buttons': []
    }}">

    <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="opc-block-shipping-information">
        <!-- ko foreach: getRegion('shipping-information') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <ul class="list-inline" style="padding: 0; display:block!important;">
<li style="display: inline-block;"><a id="seloEbit" href="http://www.ebit.com.br/76536/selo" target="_blank" data-noop="redir(this.href);" style="width: 60px; display: block; overflow: hidden; position: relative;" title="Avaliado pelos consumidores" oncontextmenu="alert(&quot;Cópia proibida ! A certificação e-bit é de uso exclusivo de lojas conveniadas à e-bit.&quot;);return false;" value="1"><img src="https://newimgebit-a.akamaihd.net/ebitBR/selo/img_76536.png" style="border: 0px;"></a>
<script id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?76536" type="text/javascript" xml="space"></script>
</li>
<li style="display: inline-block;"><a href="https://sslanalyzer.comodoca.com/?url=https%3A%2F%2Fwww.quisty.com.br%2F" target="_blank"><img src="https://www.quisty.com.br/media/custom/seals/seals-1434652383.png"></a></li>
</ul>
</div>
